
@{
    ViewData["Title"] = "AccesssDenied";
}

<h2 class="text-lg-center">Erişim Etkisi Engellendi</h2>
<div class="container bg-danger" style="text-align:center; color:white;">
    <p>Üzgünüz :( Bu sayfayı görmeye yetkili değilsiniz.</p>
</div>

